<h1>Spending details</h1>

<section>

<p>Name: <%= @user.name %> | Budget: £<%= budget = @user.budget.to_i %></p><BR>

<p>Spent@:
  <% for purchase in @user.purchases %> <br>
    <% date = purchase.date_picked%> <%=Date.parse(date).strftime("%d/%m/%Y")%>: £<%=purchase.amount%> @ <%= purchase.merchant[0]["name"]%> for <%= purchase.type%>
  <% end %>
 </p><br>

<p>Total Spent: £<%=total = @user.total_of_purchases(@user.id).to_i %></p><BR>

<p>Remaining Budget: £<%=new_budget = budget - total%>.

<% if new_budget < 0%>
<%="You're over your budget!!"%>
<% else%>  <%="You're within your budget."%>
<% end %>

  <br><br><br><br>

<a href="/purchases/<%= @user.id %>">add purchase</a><br>
<!-- <a href="/users/edit/<%= @user.id%> ">edit user</a><br> -->

<br>
Warning: Deleting this user will remove them and all of their payments
      <form class="enter" action="/users/existing" method="post">
        <input type="hidden" name="id" value=<%= @user.id %> >
        <input class="warn"type="submit" value="delete" />
      </form>
<br>
</section>
<a class=nav href="/">Home</a>
<a class=nav href="/users/existing">Users</a>
